<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">
        &nbsp;
        <i class="glyphicon glyphicon-leaf"></i>&nbsp; {{title}}
      </a>
    </div>
  </div>
</div>
<toaster-container></toaster-container>
<router-outlet></router-outlet>


