<div class="container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card" [hidden]="generado">
        <form action="" class="form-horizontal" #empMovForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <strong>{{ title }}</strong>
            <div class="card-actions">
              <a routerLink="/empleados" tooltip="Regresar" class="btn-setting text-primary" href="#">
                <i class="fa fa-arrow-left"></i>Volver a la lista
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Número de empleado</label>
              <div class="col-md-3">
                <input class="form-control" id="numEmpleado" name="numEmpleado" type="text" [(ngModel)]="movimiento.empleado" #numEmpleado="ngModel"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Nombre</label>
              <div class="col-md-9">
                <input class="form-control" id="nomEmpleado" name="nomEmpleado" type="text" [(ngModel)]="empleado.nombre" #nomEmpleado="ngModel"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Apellido</label>
              <div class="col-md-9">
                <input class="form-control" id="apeEmpleado" name="apeEmpleado" type="text" [(ngModel)]="empleado.apellido" #apeEmpleado="ngModel"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Rol de empleado</label>
              <div class="col-md-3">
                <select class="form-control" id="rolEmpleado" name="rolEmpleado" [(ngModel)]="empleado.rol" #rolEmpleado="ngModel" disabled>
                  <option *ngFor='let rol of roles' value="{{rol.id}}">{{rol.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Tipo de empleado</label>
              <div class="col-md-3">
                <select class="form-control" id="tipoEmpleado" name="tipoEmpleado" [(ngModel)]="empleado.tipo" #tipoEmpleado="ngModel" disabled>
                  <option *ngFor='let tipo of tipos' value="{{tipo.id}}">{{tipo.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Fecha</label>
              <div class="col-md-4">
                <input class="form-control" id="fecha" name="fecha" type="date" [(ngModel)]="movimiento.fecha" #fecha="ngModel" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <input class="col-md-1" id="tieneEntregas" name="tieneEntregas" type="checkbox" [(ngModel)]="tieneEntregas" #tieneEntrega="ngModel">
                <label class="col-md-11">Cantidad de entregas</label>
              </div>
              <div class="col-md-3">
                <input *ngIf="tieneEntregas" class="form-control" id="entregas" name="entregas" type="number" maxlength="7" [(ngModel)]="movimiento.entregas"
                  #entregas="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <div *ngIf="empleado.rol == 3" class="col-md-4">
                <input class="col-md-1" id="cubrioTurno" name="cubrioTurno" type="checkbox" [(ngModel)]="cubrioRol" #cubrioTurno="ngModel">
                <label class="col-md-11">Cubrió turno</label>
              </div>
              <div class="col-md-3">
                <select *ngIf="cubrioRol" class="form-control" id="rolCubierto" name="rolCubierto" [(ngModel)]="movimiento.rolCubierto" #rolEmpleado="ngModel"
                  required>
                  <option *ngFor='let rol of roles' value="{{rol.id}}">{{rol.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer clearfix">
            <div class="group-buttons float-right">
              <button (click)="goBack()" class="btn btn-sm btn-danger" type="cancel">
                <i class="fa fa-ban"></i>Cancelar</button>
<button class="btn btn-sm btn-primary" [disabled]="(tieneEntregas && movimiento.entregas < 1) || movimiento.fecha < fechaActual || (cubrioRol && !movimiento.rolCubierto)"
                type="submit">
                <i class="fa fa-dot-circle-o"></i>Generar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Pantalla del detalle de nómina -->
      <div class="card" [hidden]="!generado">
        <form action="" class="form-horizontal" #empMovForm="ngForm">
          <div class="card-header">
            <strong>{{ title }}</strong>
            <div class="card-actions">
              <a routerLink="/empleados" tooltip="Regresar" class="btn-setting text-primary" href="#">
                <i class="fa fa-arrow-left"></i>Volver a la lista
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <strong class="col-md-2 form-control-label">Número:</strong>
              <div class="col-md-10 form-control-label">{{idEmpleado}}</div>
            </div>
            <div class="form-group row">
              <strong class="col-md-2 form-control-label">Empleado:</strong>
              <div class="col-md-10 form-control-label">{{empleado.nombre}} {{empleado.apellido}}</div>
            </div>
            <div class="form-group row">
              <strong class="col-md-2 form-control-label">Puesto:</strong>
              <div class="col-md-10 form-control-label">{{empleado.rol}}</div>
            </div>
            <div class="form-group row">
              <strong class="col-md-4 offset-md-4 form-control-label">Percepciones</strong>
              <strong class="col-md-4 form-control-label">Deducciones</strong>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">Sueldo</label>
              <div class="col-md-4">${{sueldoDia * diasLaborales}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">Bono</label>
              <div class="col-md-4">${{pagoTotalEntregas * diasLaborales}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">Pago entregas</label>
              <div class="col-md-4">${{bonoDia * diasLaborales}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">Vales de despensa</label>
              <div class="col-md-4">${{totalValesDespensa}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">-ISR</label>
              <div class="col-md-4 offset-md-4 ">${{montoISR}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">-ISR adicional</label>
              <div class="col-md-4 offset-md-4 ">${{montoISRAdicional}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">Total</label>
              <div class="col-md-4">${{ingresoMensual + totalValesDespensa}}</div>
              <div class="col-md-4">${{obtenerMontoISR()}}</div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">A pagar</label>
              <div class="col-md-4">${{ingresosDespuesISR}}</div>
            </div>
          </div>
          <div class="card-footer clearfix">
            <div class="group-buttons float-right">
              <button (click)="goBack()" class="btn btn-sm btn-danger" type="button">
                <i class="fa fa-times"></i>Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
