<div class="container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Listado de Empleados</strong>

          <div class="card-actions">
            <a routerLink="/nuevo" tooltip="Agregar Nuevo" class="btn-setting text-primary" href="#">
              <i class="fa fa-plus"></i>Agregar empleado
            </a>
          </div>
          <div class="card-actions float-right">
            <pagination [totalItems]="totalElementos" [itemsPerPage]="elementosPorPagina" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
        <table id="simple-table" class="table table-bordered table-hove table-striped">
          <thead>
            <tr>
              <th scope="col" *ngFor="let col of columnas" class="center text-center detail-col">
                {{col.cabecera}}
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleadoPaginado">
              <th scope="row" class="center" width="5%">{{empleado.id}}</th>
              <td class="center">{{empleado.nombre}}</td>
              <td class="center">{{empleado.apellido}}</td>
              <td class="center">{{empleado.rol}}</td>
              <td class="center">{{empleado.tipo}}</td>
              <td width="15%">
                <div class="text-center" >
                  <a routerLink="/editar/{{empleado.id}}" name="" id="" class="btn btn-warning btn-sm" href="#" role="button" tooltip="Editar">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a routerLink="/movimientos/{{empleado.id}}" name="" id="" class="btn btn-primary btn-sm" href="#" role="button" tooltip="Movimientos">
                    <i class="fa fa-usd"></i>
                  </a>
                  <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(empleado.id)" tooltip="Eliminar">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
