<div class="container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card" [hidden]="submitted">
        <form action="" class="form-horizontal" #empleadoForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <strong>{{ title }}</strong>
            <div class="card-actions">
              <a routerLink="/empleados" tooltip="Regresar" class="btn-setting text-primary" href="#">
                <i class="fa fa-arrow-left"></i>Volver a la lista
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="name">Nombre</label>
              <div class="col-md-9">
                <input class="form-control" id="nomEmpleado" name="nomEmpleado" type="text" [(ngModel)]="empleado.nombre"
                  #nomEmpleado="ngModel" minlength="3" maxlength="20" required>
                <div [hidden]="nomEmpleado.valid || nomEmpleado.pristine" class="alert alert-danger">
                  El nombre es requerido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="name">Apellido</label>
              <div class="col-md-9">
                <input class="form-control" id="apeEmpleado" name="apeEmpleado" type="text" [(ngModel)]="empleado.apellido"
                  #apeEmpleado="ngModel" minlength="3" maxlength="20" required>
                <div [hidden]="apeEmpleado.valid || apeEmpleado.pristine" class="alert alert-danger">
                  El apellido es requerido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Rol de empleado</label>
              <div class="col-md-9">
                <select class="form-control" id="rolEmpleado" name="rolEmpleado" [(ngModel)]="empleado.rol" #rolEmpleado="ngModel" required>
                  <option *ngFor='let rol of roles' value="{{rol.id}}">{{rol.nombre}}</option>
                </select>
                <div [hidden]="rolEmpleado.valid || rolEmpleado.pristine" class="alert alert-danger">
                  Debe seleccionar el rol del empleado
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Tipo de empleado</label>
              <div class="col-md-9">
                <select class="form-control" id="tipoEmpleado" name="tipoEmpleado" [(ngModel)]="empleado.tipo" #tipoEmpleado="ngModel" required>
                  <option *ngFor='let tipo of tipos' value="{{tipo.id}}">{{tipo.nombre}}</option>
                </select>
                <div [hidden]="tipoEmpleado.valid || tipoEmpleado.pristine" class="alert alert-danger">
                  Debe seleccionar el tipo de empleado
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer clearfix">
            <div class="group-buttons float-right">
              <button class="btn btn-sm btn-primary" [disabled]="!empleadoForm.valid" type="submit">
                <i class="fa fa-dot-circle-o"></i>Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
